/* CSS HEX */
:root {
    --rose: #f72585ff;
    --fandango: #b5179eff;
    --grape: #7209b7ff;
    --chrysler-blue: #560badff;
    --dark-blue: #480ca8ff;
    --zaffre: #3a0ca3ff;
    --palatinate-blue: #3f37c9ff;
    --neon-blue: #4361eeff;
    --chefchaouen-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;

    --dark-bg: #363636;
    --light-bg: #c6c6c6;

     --dark-fg: #ffffff;
     --light-fg: #3c3c3c;
}

button, label, input, select, progress, meter {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  height: 32px;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
        color: var(--dark-fg);
    }
    .key {
        border: 1px var(--dark-fg) solid;
    }

}

@media (prefers-color-scheme:light) {
    body {
        background-color: var(--light-bg);
        color: var(--light-fg);
    }
    .key {
        border: 1px var(--light-fg) solid;
    }
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.key {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

.pressed {
    background-color: greenyellow;
}

.data {
    height: 30px;
    display: none;
}